name: Laravel CI Demo

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Install Composer dependencies
        run: composer install --no-progress --no-suggest --prefer-dist

      - name: Generate key
        run: php artisan key:generate
        
      - name: Create .env file
        run: |
          cp .env.example .env

      - name: Run Laravel tests
        run: php artisan test
